body {
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: white;
}
header .logo {
  padding-left: 20px;
}
header .logo>img {
  width: 30px;
  height: 30px;
}
header h2 {
  padding-right: 20px;
  line-height: 30px;
  height: 30px;
  color: green;
}

.main {
  height: calc(100vh - 50px);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.main>section {
  display: none;
}
.main>section:first-child {
  display: block;
}
.item {
  padding: 0 15px;
  border-bottom: 1px solid #ccc;
}
.item > a{
  display: block;
  display: flex;
}
.item .cover,
.item .cover img {
  width: 80px;
}
.item .detail {
  flex: 1;
  padding-left: 10px;
}
.detail h2 {
  font-size: 16px;
}
.detail .extra {
  color: #999;
  margin-top: 5px;
}
.detail .score {
  color: red;
}
.loading {
  padding: 5px;
  text-align: center;
  display: none;
}
.loading svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  animation: 1s rotate linear infinite;
  padding-bottom: 5px;
}
@keyframes rotate {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

#search {
  height: calc(100% - 45px);
}
section .search-area{
  color: #333;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}
section .search-area input {
  width: calc(100% - 50px);
  padding: 8px;
  background-color: #eee;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  outline: none;
}
section .search-area .button{
  position: absolute;
  right: 0;
  padding: 8px 10px;
  background: green;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  background: white;
}
footer>div {
  flex: 1;
  text-align: center;
}
footer>div>span {
  display: block;
  padding-top: 5px;
}
footer>.active {
  color: green;
}
footer>.active svg {
  fill: green;
}


/*search*/
section .container .subject {
  display: flex;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #e2dbdb;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  border-radius: 5px;
}
.container .subject .movie-pic {
  width: 80px;
  margin-right: 10px;
}
.subject .movie-pic img {
  width: 80px;
}
.subject .movie-info {
  flex: 1;
  line-height: 1.4em;
}

.movie-info .movie-name-text {
  font-size: 16px;
  font-weight: 700;
  color: #494949;
}
.movie-info .movie-name span {
  font-size: 16px;
  color: #888;
}
.movie-info .p1 {
  color: #666;
}

.movie-info .score .number {
  color: #FF5100;
}