.layout{
  margin: 0 auto;
  width: 600px;
}
.card{
  margin-top:30px;
  width:300px;
  border:1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card>img{
  opacity: 0.75;
  width: 100%
}
.card .detail{
  padding: 1px 16px;
}
.card .detail h3{
  font-size: 20px;
  font-weight: bold;
  margin:10px 0;
}
.card .detail p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#center{
    text-align: center;
}